
.container-area{
    display: flex;
    margin: 100px;

}
.half-width{
    width: 50%;
    font-size: 40px;
}
.color{
    color: orange;
}
.experience-area{
    box-shadow: 10px 10px 40px orange;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    font-size: small;
    width: 50%;

}
#experience{
    display: flex;
    width: 50%;
}